@import "colors";
@import "calendar";
// the icons
@import "./icons";

.calendar-tile-container {
  width: 450px;
  height: 450px;
}
.calendar-tile {
  border-radius: 15px;
  border: 1px solid $gray-20;
  // fill out the entire tile
  height: 100%;
  width: 100%;
  padding: 0 0 10px 0;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 15px;

    span.date {
      display: inline-block;
      padding: 10px 15px;
      background-color: $white;
      border-radius: 10px;
      border: 1px solid $gray-5;
      margin: 10px;
    }

    button.scope-button {
      width: 35px;
      height: 35px;
      outline: none;
      background-color: transparent;
      border: 1px solid $gray-10;
      border-radius: 5px;
      padding: 2px;
      cursor: pointer;

      &.active {
        background-color: $gray-10;
      }

      img {
        width: 100%;
        height: 100%;
      }

      &:hover {
        background-color: $gray-5;
      }
    }
  }

  .draw-viewport {
    width: 100%;
    height: 85%;
  }
}

